@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default
}

:root {
    background-color: #000000;
}

.background-image {
    background-image: url(../public/prev.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    color: white;
}

.configurator {
    position: fixed;
    right: 24px;
    bottom: 25vh;
    width: 360px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.configurator__section {
    margin-left: 20px;
    margin: 10px;
}

.configurator__section__title {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: white;
    margin-left: 20px;
}

.configurator__section__values {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 16px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
}

.item:hover {
    cursor: pointer;
    opacity: 0.9;
}

.item__label:hover {
    cursor: pointer;
    color: white;
}

.item__dot {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: solid 2px #999999;
}

.item.item--active .item__dot {
    border: solid 2px white;
}

.item__label {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #aaa;
    text-transform: capitalize;
}

.item.item--active .item__label {
    color: white;
}

